<?xml version="1.0" encoding="UTF-8"?>
<LanguageData>

	<!-- Event Window -->

	<!-- EN: Event -->
  <FCEvent>事件</FCEvent>
	<!-- EN: No active events. -->
  <FCNoActiveEvents>无活跃事件</FCNoActiveEvents>
	<!-- EN: {0} active events -->
  <FCActiveEventsCount>{0}个活跃事件</FCActiveEventsCount>
	<!-- EN: {0} of {1} active events -->
  <FCActiveEventsFiltered>{0}/{1}个活跃事件</FCActiveEventsFiltered>
	<!-- EN: All -->
  <FCEventCatAll>所有</FCEventCatAll>
	<!-- EN: No events match the current filters. -->
  <FCNoEventsMatchFilter>没有满足当前筛选的事件</FCNoEventsMatchFilter>
	<!-- EN: Ends within {0} -->
  <FCEndsWithin>在{0}后结束</FCEndsWithin>
	<!-- EN: {0} - {1} -->
  <FCDurationRange>{0} - {1}</FCDurationRange>
	<!-- EN: ({0}-{1} days) -->
  <FCEffectPreviewDurationRange>{0} - {1}天</FCEffectPreviewDurationRange>
	<!-- EN: Multiple ({0}) -->
  <FCMultipleSettlements>多个（{0}）</FCMultipleSettlements>

	<!-- Event Option Window -->
	<!-- EN: Affecting: -->
  <FCEventAffecting>影响了</FCEventAffecting>
	<!-- EN: Free -->
  <FCEventOptionFree>免费</FCEventOptionFree>
	<!-- EN: Success: Guaranteed -->
  <FCEventSuccessGuaranteed>成功率：必然</FCEventSuccessGuaranteed>
	<!-- EN: Success: Likely -->
  <FCEventSuccessLikely>成功率：应当</FCEventSuccessLikely>
	<!-- EN: Success: Uncertain -->
  <FCEventSuccessUncertain>成功率：不确定</FCEventSuccessUncertain>
	<!-- EN: Success: Risky -->
  <FCEventSuccessRisky>成功率：有风险</FCEventSuccessRisky>
	<!-- EN: reward worth ~{0} silver -->
  <FCEffectPreviewReward>价值{0}白银的回报</FCEffectPreviewReward>
	<!-- EN: ({0} days) -->
  <FCEffectPreviewDuration>（{0}天）</FCEffectPreviewDuration>



	<!-- Mercenary Events -->
	<!-- EN: Mercenary Joined -->
  <FCMercenaryJoined>雇佣兵加入</FCMercenaryJoined>
	<!-- EN: A mercenary, {0}, from your faction has joined your colony! -->
  <FCMercenaryJoinedText>来自你派系的雇佣兵“{0}”已加入你的殖民地！</FCMercenaryJoinedText>
	
	<!-- EN: Random Event -->
  <FCRandomEventLetterLabel>随机事件</FCRandomEventLetterLabel>

  
  <CurrentOngoingEvents>正在进行中的事件</CurrentOngoingEvents>
  <TimeRemaining>剩余时间</TimeRemaining>
  <NewLand>新领地</NewLand>
  <EventAffectingSettlements>此事件正影响以下领地</EventAffectingSettlements>
  <BuildingEventDesc>正在“{1}”修建“{0}”，预计在{2}建成。</BuildingEventDesc>
  <BuildingEventCompletedMsg>建筑“{0}”已在领地“{1}”完工！</BuildingEventCompletedMsg>
  <DeathOfFactionPawn>你的无能致使领地的居民死亡,领地的动乱度因此提升。</DeathOfFactionPawn>
  <CaptureOfFactionPawn>因你俘虏了你自己的领民，你下属领地的动乱度已大幅上涨！</CaptureOfFactionPawn>
  <PrisonerHasDiedLetter>囚犯死亡</PrisonerHasDiedLetter>
  <PrisonerHasDied>在领地{1}的囚犯“{0}”因过劳而死</PrisonerHasDied>
  <transportingInjuredShuttle>一个穿梭机正向你的殖民地运回在成功的领地保卫中负伤的殖民者</transportingInjuredShuttle>
  <transportingInjuredDropPod>空投仓正向你的殖民地运回在成功的领地保卫中负伤的殖民者</transportingInjuredDropPod>
  <transportingInjuredCaravan>一支远行队正向你的殖民地运回在成功的领地保卫中负伤的殖民者</transportingInjuredCaravan>
  <transportingInjuredShuttleLost>一个穿梭机正向你的殖民地运回在失败的领地保卫中负伤的殖民者</transportingInjuredShuttleLost>
  <transportingInjuredDropPodLost>空投仓正向你的殖民地运回在失败的领地保卫中负伤的殖民者</transportingInjuredDropPodLost>
  <transportingInjuredCaravanLost>一支远行队正向你的殖民地运回在失败的领地保卫中负伤的殖民者</transportingInjuredCaravanLost>
  <shuttleLandingBlockedWithItems>装有{0}的穿梭机正在你基地的上方等待你清理一个降落场地。</shuttleLandingBlockedWithItems>
  <shuttleLandingBlocked>穿梭机正在你基地的上方等待你清理一个降落场地。</shuttleLandingBlocked>
  <caravanDangerTooHigh>一只护送队伍正在你地图的外面等候你清理完地图上的威胁。</caravanDangerTooHigh>
  <caravanDangerTooHighWithItems>带有{0}的护送队伍正在你地图的外面等候你清理完地图上的威胁。</caravanDangerTooHighWithItems>
  <shuttlePortCallShuttleLabel>要求一个穿梭机航次</shuttlePortCallShuttleLabel>
  <shuttlePortCallShuttleDesc>要求你的领地为你派遣穿梭机进行一次远行队航程。\n{0}次可用（成本：{1}）</shuttlePortCallShuttleDesc>
  <targetAnythingWithColonists>选择任何带有你殖民者的物体来派出穿梭机</targetAnythingWithColonists>
  <requestShuttleToCaravan>为该远行队要求一个穿梭机</requestShuttleToCaravan>
  <requestShuttleToColony>为该殖民地要求一个穿梭机</requestShuttleToColony>
  <requestShuttleToMap>为该地图要求一个穿梭机</requestShuttleToMap>
  <shuttlePortCallShuttleForCaravanLabel>为这个远行队要求一个穿梭机</shuttlePortCallShuttleForCaravanLabel>
  <targetAnyWorldObject>选定你要穿梭机飞往的世界目的地：\n{0}次可用（成本：{1}）</targetAnyWorldObject>
  <sendCaravanHere>将远行队送到此处</sendCaravanHere>
  <noCaravansToSendShuttleTo>没有可指示穿梭机飞往的远行队！</noCaravansToSendShuttleTo>
  <noShuttleUsesRemaining>当前税期里不能再呼叫穿梭机</noShuttleUsesRemaining>
  <notEnoughShuttleUsesRemaining>当前税期里的剩余穿梭机航次不足</notEnoughShuttleUsesRemaining>

</LanguageData>